*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# This is a comment
# Ignore target at the top level
/target/
# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/
# Or you can do:
target/
# which matches 'target' in any sub folder
